@import java.util
@(tasks: util.List[Task])
@main("All tasks") {
    <a href="/tasks/new">Create a new task</a>
    <ul>
    @for( task <- tasks) {
        <li><a href="/tasks/@task.getId">@task.title</a></li>
    }
    </ul>

}
