@(task: Task)
@import helper.form
@main("Task page") {
    <h1>@task.title</h1>
    <p>@task.description</p>
    @form(routes.HomeController.delete(task.getId)) {
     <input type="submit" value="Delete" class="btn danger">
    }
}